* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 1680px;
}

ul {
  li {
    list-style: none;
  }
}
h1 {
  font-family: Playfair_Display;
  font-style: normal;
  font-weight: 900;
  line-height: 102%;
  letter-spacing: -0.02em;
}
p {
  font-family: Basier-Circle;
  letter-spacing: -0.01em;
}
