@font-face {
  font-family: SpaceGrotesk;
  src: url(./../fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff);
  font-weight: 500;
}

@font-face {
  font-family: Basier-Circle;
  src: url(./../fonts/basier-cufonfonts-webfont/BasierCircle-Regular.woff);
  font-weight: 500;
}
@font-face {
  font-family: Playfair_Display;
  src: url(./../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
  font-weight: 500;
}
