@media only screen and (max-width: 1700px) {
}
@media only screen and (max-width: 1400px) {
}
@media only screen and (max-width: 991px) {
  .navbar {
    display: none;
  }
  .header-body {
    margin-left: 0;
  }
  .header-body-img {
    max-width: 100%;
  }
  .header-body-img img {
    max-width: 100%;
  }
  .header-body-circle {
    left: 0;
  }
  .header-body-text {
    position: absolute;
    left: 0;
    padding: 10% 5%;
  }
  .service-section {
    width: 100%;
    height: 100%;
  }

  .services {
    grid-template-columns: 1fr;
    margin: 0 5%;
  }
  .services-right p {
    margin-top: 50px;
  }
  .parallax-contact {
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }
  .progress {
    grid-template-columns: 1fr;
    height: 100%;
    margin-top: 13%;
  }
  .progress .progress-left {
    padding: 5%;
  }
  .rect-icon {
    margin-left: 386px;
  }
  .rect-icon .rect2 {
    margin-left: 24px;
  }
  .progress .progress-right {
    padding: 5%;
  }
  .progress-img {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .customers {
    .customers-top {
      display: grid;
      padding: 5%;
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }

  .customers .customers-top img {
    padding: 20px;
  }
  .customers .customers-bottom {
    padding: 5%;
    flex-direction: column;
  }
  .customers .customers-bottom img {
    padding: 20px;
  }
  .mutual-goal {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
  }
  .mutual-goal .mutual-goal-left .goal-top {
    display: none;
  }
  .mutual-goal .mutual-goal-left .mutual-goal-left-insight {
    padding: 5%;
  }
  .mutual-goal .mutual-goal-left .goal-bottom {
    display: none;
  }
  .mutual-goal-right img {
    width: 100%;
  }
  .recent-news {
    height: 100%;
    padding: 5%;
  }
  .recent-news .recent-news-bottom {
    grid-template-columns: 1fr;
  }
  .parallax-video {
    height: 100%;
  }
  .google-map {
    grid-template-columns: 1fr;
  }
  .google-map-left iframe {
    width: 100%;
  }
  .career .career-left {
    padding: 10%;
  }
  .career .career-right {
    padding: 10%;
  }
  .footer .footer-top {
    padding: 5%;
    grid-template-columns: 450px 450px;
  }
  .footer-top-subscription .subscription-input a {
    height: 47px;
  }
  .footer .footer-bottom {
    padding: 5%;
    grid-column-gap: 40px;
  }
  .footer {
    height: 100%;
  }
  .footer .footer-divider img {
    width: 100%;
    margin-left: 0;
  }
}
@media only screen and (max-width: 768px) {
  .navbar {
    display: none;
  }
  // .navbar {
  //   display: block;
  //   left: -100%;
  //   position: absolute;
  //   background: #000;
  //   z-index: 1;
  //   height: 100%;
  //   width: 100%;
  //   margin-top: 130px;
  // }
  // .nav-show {
  //   left: 0;
  // }
  // .navbar ul {
  //   display: block;
  //   float: none;
  // }
  // .navbar ul li {
  //   text-align: center;
  // }
  // .navbar ul li span {
  //   display: none;
  // }
  // .navbar ul li a {
  //   color: #fff;
  // }
  .header-body-text {
    .play-icon {
      width: 40px;
      height: 40px;
    }
    .play-icon img {
      margin: 14px 0 0 18px;
    }
  }
  .header-body {
    margin-left: 0;
    margin-top: 0;
    flex-direction: column;
  }
  .header-body-img {
    max-width: 100%;
  }
  .header-body-img img {
    max-width: 100%;
  }
  .header-body-text {
    left: 0;
    position: absolute;
    padding: 5%;
  }
  .header-body-text h2 {
    font-size: 35px;
  }
  .header-body-text p {
    font-size: 16px;
    margin-bottom: 35px;
  }
  .header-body-text a {
    padding: 16px 30px;
    font-size: 12px;
  }
  .services-left h1 {
    font-size: 35px;
  }
  .services-right p {
    font-size: 16px;
  }
  .header-body-circle {
    left: 0;
    top: 200px;
    width: 400px;
    height: 400px;
  }
  .service-section {
    overflow: hidden;
    z-index: 1;
    height: 100%;
  }
  .services {
    grid-template-columns: 1fr;
    margin: 0;
    padding-top: 0;
    padding: 5%;
  }
  .services-right p {
    margin-top: 50px;
  }
  .parallax-contact {
    grid-template-columns: 1fr;
    width: 100%;
    height: 100%;
  }
  .progress {
    grid-template-columns: 1fr;
    height: 100%;
    margin-top: 25%;
  }
  .progress .progress-left {
    padding: 5%;
  }
  .progress .progress-right {
    padding: 5%;
  }
  .progresss-img-left img {
    width: 100%;
    height: 100%;
  }
  .progress-img {
    height: 100%;
  }

  .progress-img .progress-img-right {
    max-width: 100%;
  }
  .progress-img-right img {
    width: 100%;
  }
  .progress-status {
    grid-template-columns: 1fr;
    max-width: 100%;
    height: 100%;
  }
  .progress-status .progress-status-left {
    padding: 5%;
  }
  .progress-status .progress-status-right {
    padding: 5%;
  }
  .customers {
    height: 100%;
    padding: 5% 0;
    display: block;
    .customers-top {
      padding: 5%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }

  .mutual-goal {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .customers .customers-bottom img {
    max-width: 100px;
    margin-left: 15%;
    padding: 5%;
  }
  .mutual-goal .mutual-goal-left .mutual-goal-left-insight {
    padding: 5%;
  }
  .mutual-goal .mutual-goal-left .goal-top {
    height: 0px;
  }
  .mutual-goal .mutual-goal-left {
    max-width: 100%;
  }
  .mutual-goal .mutual-goal-left .goal-bottom {
    height: 0px;
  }
  .recent-news {
    height: 100%;
    padding: 5%;
  }
  .recent-news .recent-news-bottom {
    grid-template-columns: 1fr;
  }
  .parallax-video {
    height: 100%;
  }
  .google-map-left iframe {
    width: 100%;
  }
  .google-map {
    grid-template-columns: 1fr;
  }
  .career {
    grid-template-columns: 1fr;
  }
  .career .career-left {
    padding: 5%;
  }
  .career .career-right {
    padding: 5%;
  }
  .footer .footer-top {
    padding: 5%;
  }
  .footer .footer-bottom {
    padding: 5%;
    grid-template-columns: 1fr;
    grid-column-gap: 0;
  }
  .footer .footer-top {
    padding: 5%;
  }
  .footer {
    height: 100%;
  }
  .footer-bottom-right {
    padding: 5% 0;
  }
  .progress-img {
    grid-template-columns: 1fr;
  }
  .footer .footer-top {
    padding: 5%;
    grid-template-columns: 1fr;
  }
  .recent-news .recent-news-bottom .recent-news-bottom-card {
    width: 100%;
  }
  .mutual-goal-right img {
    width: 100%;
  }
  .content-left {
    margin-left: 0;
  }
  .footer {
    height: 100%;
  }
  .footer .footer-divider img {
    width: 100%;
    margin-left: 0;
  }
  .google-map .google-map-right .address .address-text {
    padding: 5%;
  }
  .google-map .google-map-right .get-in-touch .get-in-touch-text {
    padding: 5%;
  }
  .services-right-content {
    grid-template-columns: 1fr;
  }
  .services-right-content div {
    padding: 25px 0;
  }
  .parallax-contact h1 {
    font-size: 35px;
  }
  .progress-bar-icon .rect-red {
    width: 300px;
  }
  .rect-icon {
    margin-left: 264px;
  }
  .arrow .arrow-left {
    margin-left: 200px;
  }
  .google-map .google-map-right {
    grid-template-columns: 1fr;
  }
  .google-map .google-map-right .get-in-touch .get-in-touch-text h4 {
    margin-top: 16px;
  }
  .customers-top {
    display: grid;
    padding: 5%;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
}

@media only screen and (max-width: 400px) {
  .header-body-text h2 {
    font-size: 22px;
  }
  .header-body-circle {
    left: 0;
    top: 150px;
    width: 300px;
    height: 300px;
  }
  .header-body-text p {
    font-size: 14px;
    margin-bottom: 22px;
    margin-top: 6px;
    line-height: 20px;
    min-width: 250px;
  }
  .parallax-contact h1 {
    font-size: 22px;
  }
  .customers .customers-top img {
    max-width: 90px;
  }
  .customers .customers-top img {
    padding: 16px;
  }

  .arrow .arrow-left {
    margin-left: 110px;
  }
  .recent-news
    .recent-news-bottom
    .recent-news-bottom-card
    .recent-news-bottom-card-in
    .news
    h4 {
    font-family: SpaceGrotesk;
    font-size: 22px;
  }
  .progress-bar-icon .rect-red {
    width: 200px;
  }
  .rect-icon {
    margin-left: 164px;
  }
  .progress-bar-icon {
    margin-top: 40px;
  }
  h1 {
    font-size: 22px !important;
  }
  h2,
  h3,
  h4 {
    font-size: 19px !important;
  }
  p {
    font-size: 14px !important;
  }
}
