* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

ul li {
  list-style: none; }

/* header */
.main-header {
  display: flex;
  margin-left: 40px; }

.logo {
  margin-top: 40px; }
  .logo ul {
    display: flex; }
    .logo ul li {
      list-style: none;
      padding: 20px 0; }

.humburger {
  border-radius: 50%;
  background: rgba(136, 136, 136, 0.04);
  height: 56px;
  width: 56px;
  margin-top: 10px; }
  .humburger svg {
    margin-left: 20px; }

.logo-icon svg {
  height: 40px; }

.navbar {
  width: 100%;
  margin-right: 40px;
  margin-top: 30px; }
  .navbar ul {
    display: flex;
    float: right; }
    .navbar ul li {
      list-style: none;
      padding: 15px;
      font-family: Basier-Circle;
      font-style: normal;
      font-weight: 500; }
      .navbar ul li a {
        text-decoration: none;
        color: #232226;
        font-size: 15.6px; }
      .navbar ul li span {
        font-weight: bold;
        float: right;
        position: relative;
        font-size: 9px; }

.cart-amount {
  margin-left: 35px; }

.header-body {
  display: flex;
  margin-left: 212px;
  margin-top: 20px; }

.header-body-img img {
  width: 100%; }

.header-body-img {
  max-width: 50%;
  display: flex; }

.header-body-text {
  position: absolute;
  border-radius: 50%;
  background: #d90a2c;
  mix-blend-mode: multiply;
  left: 708px;
  padding: 8%;
  color: #fff;
  top: 208px;
  width: 760px;
  height: 760px; }

.header-body-text h2 {
  font-family: Playfair_Display;
  font-style: normal;
  font-weight: 900;
  font-size: 52px;
  line-height: 102%;
  margin-top: 10px; }

.header-body-text p {
  font-family: Basier-Circle;
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 28px;
  width: 361px;
  margin-bottom: 30px;
  margin-top: 10px; }

.header-body-text a {
  text-decoration: none;
  background-color: #000;
  color: #fff;
  padding: 10px;
  padding: 20px 45px;
  font-family: SpaceGrotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  border-radius: 4px; }

.play-icon {
  background-color: #000;
  width: 62px;
  height: 62px;
  border-radius: 50%; }

.play-icon svg {
  margin: 20px;
  width: 24px;
  height: 24px; }

.service-section {
  position: absolute;
  width: 100%;
  height: 654px;
  background-color: #1a191d; }

.services {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 90px 212px;
  background-color: #1a191d; }

.services-left p {
  font-family: Basier-Circle;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  color: #828084; }

.services-left h1 {
  font-family: Playfair_Display;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 102%;
  letter-spacing: -0.02em;
  color: #ffffff; }

.services-right p {
  font-family: Basier-Circle;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: -0.01em;
  color: #f9f9f9;
  max-width: 608px; }

.services-right-content {
  display: grid;
  grid-template-columns: 1fr 1fr; }
  .services-right-content div {
    padding: 40px 0; }
    .services-right-content div h3 {
      font-family: SpaceGrotesk;
      font-size: 20px;
      line-height: 28px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      color: #ffffff;
      margin-top: 15px; }
    .services-right-content div p {
      font-family: Basier-Circle;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 26px;
      display: flex;
      align-items: center;
      letter-spacing: -0.01em;
      color: #828084;
      margin-top: 10px; }

.content-left {
  margin-left: 40px; }

@font-face {
  font-family: SpaceGrotesk;
  src: url(./../fonts/SpaceGrotesk/SpaceGrotesk-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Basier-Circle;
  src: url(./../fonts/basier-cufonfonts-webfont/BasierCircle-Regular.woff);
  font-weight: 500; }
@font-face {
  font-family: Playfair_Display;
  src: url(./../fonts/Playfair_Display/static/PlayfairDisplay-Black.ttf);
  font-weight: 500; }

/*# sourceMappingURL=style.css.map */
